.section4 {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.wrapper4 {
  padding: 0 10% 0 10%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10%;
}
.section4-titleContent {
  width: 100%;
  height: 19%;
}

.section4-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(85, 85, 85);
  margin-bottom: 1%;
}

.section4-titleText {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(140, 140, 140);
}

.section4-buttonsSlide {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10%;
  height: 10%;
}

.section4-buttonSlide {
  width: 10%;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

