.section4 {
  width: 100%;
  height: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.wrapper4 {
  padding: 0 10% 0 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

}
.section4-titleContent {
  width: 100%;
}

.section4-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--colorGray85);
  margin-bottom: 1%;
}

.section4-titleText {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(140, 140, 140);
}

.section4-buttonsSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1%;  
}

.section4-buttonSlide {
  padding: 0.5% 2% 0.5% 2%;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  transition: var(--transition);
}

.section4-buttonSlide:hover {
  background-color: rgb(124, 95, 81);
  color: white;
}

.section4-content{
  width: 85%;
  height: 60%;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section4-contentBox {
  width: 30%;
  height: 48%;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}

.sec4-searchIcon {
  position: absolute;
  top: 25%;
  right: 36%;
  opacity: 0;
  z-index: 1;
  transition: var(--transition);
}

.sec4-linkIcon {
  position: absolute;
  top: 25%;
  left: 36%;
  opacity: 0;
  z-index: 1;
  transition: var(--transition);
}

.sec4-filterImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.section4-contentBox:hover .sec4-searchIcon {
  opacity: 1;
}

.section4-contentBox:hover .sec4-linkIcon {
  opacity: 1;
}

.sec4-searchIcon:hover, .sec4-linkIcon:hover  {
  fill: var(--colorStyleDark199);
}

.section4-contentBox:hover .sec4-filterImg {
  backdrop-filter: brightness(30%);
}

.section4-contentBox:hover .section4-contentBoxBottom {
  background-color: rgb(54, 47, 45);
}

.section4-contentBox:hover .section4-contentBoxBottomText-Top{
  color: white;
}

.section4-contentBox:hover .section4-contentBoxBottomText-Bottom{
  color: wheat;
}

.sec4-boxImg {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section4-contentBoxBottom {
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background-color: rgb(251, 250, 248);
  transition: var(--transition);
}

.section4-contentBoxBottomText-Top {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--colorStyleDark199);
}

.section4-contentBoxBottomText-Bottom {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.section4-buttonLoad {
  width: 20%;
  height: 7%;
  background-color: rgb(153, 134, 117);
  box-shadow: 0px 3px 2px rgb(115, 99, 87);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: var(--transition);
}

.section4-buttonLoad:hover {
  transform: scale(1.2);
}

@media (min-width: 650px) and (max-width: 1000px) {
  .wrapper4 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .section4-title {
    font-size: 16px;
  }

  .section4-titleText {
    font-size: 12px;
  }

  .section4-buttonSlide {
    font-size: 12px;
  }

  .section4-buttonLoad {
    font-size: 12px;
    height: 5%;
  }

  .section4-content {
    height: 70%;
  }

  .section4-contentBox {
    width: 45%;
    height: 33.3%;
  }

  .section4-contentBoxBottom {
    text-align: left;
    gap: 5%;
  }

  .section4-contentBoxBottomText-Top {
    font-size: 12px;
  }

  .section4-contentBoxBottomText-Bottom {
    font-size: 8px;
  }
}

@media (min-width: 450px) and (max-width: 649px) {
  .wrapper4 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .section4-title {
    font-size: 16px;
  }

  .section4-titleText {
    font-size: 12px;
  }

  .section4-buttonSlide {
    font-size: 12px;
  }

  .section4-buttonLoad {
    font-size: 12px;
    height: 5%;
  }

  .section4-content {
    height: 70%;
  }

  .section4-contentBox {
    height: 32%;
    width: 48%;
  }

  .section4-contentBoxBottom {
    text-align: left;
    gap: 5%;
  }

  .section4-contentBoxBottomText-Top {
    font-size: 12px;
  }

  .section4-contentBoxBottomText-Bottom {
    font-size: 8px;
  }
}

@media (max-width: 449px) {
  .section4 {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .section4 {
    height:auto;
  }

  .wrapper4 {
    padding-left: 5%;
    padding-right: 5%;
    gap: 0;
    height: auto;
  }

  .section4-titleContent {
    margin-bottom: 10px;
  }

  .section4-buttonsSlide {
    margin-bottom: 10px;
  }

  .section4-content {
    margin-bottom: 20px;
  }

  .section4-contentBox {
    margin-bottom: 5px;
  }

  .section4-contentBox:last-child {
    margin-bottom: 0px;
  }

  .section4-title {
    font-size: 16px;
  }

  .section4-titleText {
    font-size: 12px;
  }

  .section4-buttonsSlide {
    flex-wrap: wrap;
    row-gap: 5px;
  }

  .section4-buttonSlide {
    font-size: 12px;
    
  }

  .section4-buttonLoad {
    font-size: 8px;
    height: 3%;
    padding: 2%;
  }

  .section4-content {
    height: 120%;
    flex-direction: column;
    justify-items: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1%;
  }

  .section4-contentBox {
    width: 100%;
  }

  .section4-contentBoxBottom {
    text-align: left;
    gap: 5%;
  }

  .section4-contentBoxBottomText-Top {
    font-size: 12px;
  }

  .section4-contentBoxBottomText-Bottom {
    font-size: 8px;
  }
}