.section7 {
  width: 100%;
  height: 90%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.wrapper7 {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.section7-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--colorGray85);
  
}

.section7-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(140, 140, 140);
  width: 80%;
}

.section7-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  gap: 2%;
}

.section7-contentBox {
  width: 32%;
  height:90%;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  overflow: hidden;
}

.sec7-boxImg {
  position: absolute;
  height: 75%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: right;
}

.sec7-filterImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.section7-contentBoxBottom {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-color: rgb(251, 250, 248);
  transition: var(--transition);
}

.sec7-contentBox-Icon {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
  z-index: 1;
  background: transparent;
  opacity: 0;
  cursor: pointer;
  transition: var(--transition);
}

.sec7-contentBox-Icon-top{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  color: white;
  background-color: rgb(54, 54, 54);
  transition: var(--transition);
}

.sec7-contentBox-Icon-bottom {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  background-color: rgb(37, 37, 37);
  transition: var(--transition);
}

.section7-contentBoxBottomText-Top {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--colorGray85);
}

.section7-contentBoxBottomText-Bottom {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: var(--colorGray85);
}

.section7-contentBoxBottom-link {
  text-decoration: none;
  color: var(--colorStyleDark199);
  font-size: 12px;
  position: relative;
}

.section7-contentBoxBottom-link::after {
  content: "\25B8";
  font-size: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.section7-buttonSlide {
  cursor: pointer;
  transition: var(--transition);
}

.section7-contentBox:hover .sec7-contentBox-Icon {
  opacity: 1;
}

.sec7-contentBox-Icon:hover .sec7-contentBox-Icon-top{
  background-color: var(--colorStyleDark199);
}

.sec7-contentBox-Icon:hover .sec7-contentBox-Icon-bottom{
  background-color: rgb(164, 141, 114);
}

.section7-contentBox:hover .sec7-filterImg {
  backdrop-filter: brightness(30%);
}

.section7-contentBox:hover .section7-contentBoxBottom {
  background-color: rgb(54, 47, 45);
}

.section7-contentBox:hover .section7-contentBoxBottomText-Top{
  color: var(--colorStyleDark199);
}

.section7-contentBox:hover .section7-contentBoxBottomText-Bottom{
  color: white;
}

.section7-buttonSlide:hover {
  fill: var(--colorStyleDark199);
}

@media (min-width: 650px) and (max-width: 1000px) {
  .wrapper7 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .section7-title {
    font-size: 16px;
  }

  .section7-text {
    font-size: 12px;
  }

  .sec7-boxImg {
    object-fit: cover;
    object-position: center;
  }

  .section7-contentBoxBottomText-Top{
    font-size: 12px;
  }

  .section7-contentBoxBottomText-Bottom{
    font-size: 10px;
  }
}

@media (min-width: 0px) and (max-width: 649px) {
  .section7 {
    height: 120%;
    gap: 0;
  }

  .wrapper7 {
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
  }

  .section7-contents {
    gap: 0;
    
    justify-content: center;
    height: 75%;
  }
  .section7-contentBox {
    width: 80%;
    height: 35%;
  }

  .section7-title {
    font-size: 16px;
  }

  .section7-text {
    font-size: 12px;
  }

  .sec7-boxImg {
    object-fit: cover;
  }

  .section7-contentBoxBottomText-Top{
    font-size: 12px;
  }

  .section7-contentBoxBottomText-Bottom{
    font-size: 10px;
  }
}





