.section6 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper6 {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.sec6-bottom {
  padding-left: 10%;
  padding-right: 10%;
  height: 30%;
  width: 100%;
  background-image: linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.sec6LeftBlock {
  display: flex;
  width: 50%;
  align-items: center;
  height: 100%;
  position: relative;
}

.sec6Img {
  max-width: 50vw;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.sec6RightBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 5%;
}

.sec6-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(85, 85, 85);
}

.sec6-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgb(140, 140, 140);
}

.sec6-textsPlus {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgb(140, 140, 140);
  display: flex;
  flex-direction: column;
  padding-left: 17%;
}

.sec6-textPlus {
  position: relative;
  margin-bottom: 2%;
}

.sec6-textPlus:nth-last-child(1) {
  margin-bottom: 0;
}

.sec6-textPlus::before {
  content: url(../img/sec6ArrowIcon.png);
  position: absolute;
  top: 0%;
  left: -10%;
}

.wrapper6-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec6BottomBlock {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sec6-bottom-number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 90%;
  color: white;
}

.sec6-bottom-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: rgb(189, 168, 145);
  line-height: 90%;
  font-size: 14px;
}

.sec6-bottom-line {
  width: 20%;
  height: 2px;
  background-color: white;
}


@media (min-width: 650px) and (max-width: 1000px) {
  .wrapper6, .sec6-bottom {
    padding-left: 5%;
    padding-right: 5%;
  }

  .sec6-title {
    font-size: 16px;
  }

  .sec6-text, .sec6-textPlus {
    font-size: 12px;
  }

  .sec6-textPlus::before {
    left: -12%;
  }

  .sec6-bottom-number {
    font-size: 26px;
  }

  .sec6-bottom-text {
    font-size: 12px;
  }
}

@media (min-width: 450px) and (max-width: 649px) {
  .wrapper6, .sec6-bottom {
    padding-left: 5%;
    padding-right: 5%;
  }

  .sec6-title {
    font-size: 16px;
  }

  .sec6-text, .sec6-textPlus {
    font-size: 12px;
  }

  .sec6-textPlus::before {
    left: -15%;
  }

  .sec6-bottom-number {
    font-size: 26px;
  }

  .sec6-bottom-text {
    font-size: 12px;
  }
}

@media (max-width: 449px) {
  .wrapper6, .sec6-bottom {
    padding-left: 5%;
    padding-right: 5%;
  }

  .sec6-title {
    font-size: 14px;
  }

  .sec6-text, .sec6-textPlus {
    font-size: 10px;
  }

  .sec6-textPlus::before {
    left: -30%;
  }

  .sec6-bottom-number {
    font-size: 26px;
  }

  .sec6-bottom-text {
    font-size: 12px;
  }

}