.section2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  
}

.wrapper2 {
  padding: 5% 10% 5% 10%;
}

.desingBlock {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  height: 100%;
  justify-content: space-between;
  
}

.bottomLineBlockSec2, .IconSec2, .titleAboutSec2 {
  transition: all 0.2s ease;
}

.desingBlock:hover svg {
  fill: rgb(199, 178, 153);
}

.desingBlock:hover .bottomLineBlockSec2 {
  background-color: rgb(199, 178, 153);
}

.desingBlock:hover .titleAboutSec2 {
  color: rgb(199, 178, 153);
}

.titleAboutSec2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color:  rgb(85, 85, 85);
}

.textAboutSec2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: rgb(71, 70, 70);
}

.bottomLineBlockSec2 {
  height: 2px;
  width: 30%;
  background-color: rgb(85, 85, 85);
}

@media (min-width: 650px) and (max-width: 1000px) {
  .wrapper2 {
    padding: 5% 5% 5% 5%;
  }

  .titleAboutSec2 {
    font-size: 14px;
  }

  .textAboutSec2 {
    font-size: 12px;
    font-weight: 700;
  }
}


@media (max-width:649px) {
  .wrapper2 {
    padding: 5%;
  }
  
  .section2 {
    flex-wrap: wrap;
    height: 100%;
  }

  .titleAboutSec2 {
    font-size: 14px;
  }

  .desingBlock {
    width: 50%;
    height: 40%;
    margin-bottom: 10%;
  }

  .textAboutSec2 {
    font-size: 12px;
    font-weight: 700;
  }
}